.container-fluid{
    color: #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/accueil.jpg");
    background-position: center;
    background-size: cover;
}
h3 {
    color: #fff;
}
.card{
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)
}

.blue-text{color: #00BCD4}

.form-control-label{margin-bottom: 0}

input, textarea, button{
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus, textarea:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    ox-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block{
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover{
    color: #fff !important
}

button:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.btn-add-lieu {
    width: auto;
    background: transparent;
    border: unset;
    position: absolute;
    right: -18px;
    margin: 0;
    top: 23px;
    padding: 0;
    color: black;
}

.btn-add-lieu > i:hover {
    color: var(--bs-blue);
}

form div > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}