.centrerbloclieu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('../images/nouveaulieu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.centrerbloclieu h1 {
    font-family: sans-serif;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.centrerbloclieu p {
    font-size: 20px;
    color: #d1d1d1;
    text-transform: uppercase;
    margin: 20px 0;
}

.blocAjouterLieux {
    margin: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    height: 400px;
    font-family: sans-serif;
    font-size: 20px;

}


label
{
    display: block;
    width: 100%;
    float: left;
}

button.btn {
    background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    background-color:#2e466e;
    border-radius:8px;
    border:3px solid #1f2f47;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:6px 13px;
    text-decoration:none;
}

button.btn:hover{
    background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    background-color:#415989;
}
button.btn:active{
    position:relative;
    top:1px;
}

#lieu_ville {
    margin-bottom: 1em;
}

