
.centrerbloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('../images/campusList.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.centrerbloc2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('../images/campusEdit.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.centrerbloc h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.centrerbloc p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}


.search-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  background: rgb(252, 252, 252);
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.search-btn {
  height: 40px;
  width: 40px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  color: rgb(255, 0, 0);
  border-radius: 50%;
  text-decoration: none;

}
.search-txt{
  background: none;
  outline: none;
  border: none;
  line-height: 40px;
  transition: 0.6s;
}
.search-box:hover >.search-btn{
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.tableau {
  margin: 3%;
}

a {
  text-decoration: none;
  color: #000;
}

tbody a {
  text-decoration: none;
  color: #000;
  margin-right: 5px;
}

.allignerBouton {
  display: flex;
  flex-direction: inherit;

}

.blocAjoutVille {
  margin: 3%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 600px;
  height: 300px;
  font-family: sans-serif;
  font-size: 30px;

}

label
{
  display: block;
  width: 100%;
  float: left;
}

td {
  vertical-align: middle;
  font-size: 15px;
}

#ville_codePostal {
  margin-bottom: 10px;
}

button.btn {
  background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color:#2e466e;
  border-radius:8px;
  border:3px solid #1f2f47;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:12px;
  padding:6px 13px;
  text-decoration:none;
}

button.btn:hover{
  background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color:#415989;
}
button.btn:active{
  position:relative;
  top:1px;
}